<app-loader></app-loader>
<div class="d-flex flex-column h-100">
  <mat-toolbar class="header pb-5">
    <nav class="navbar navbar-expand-lg fixed-top bg-white">
      <div class="container">
        <h2>
          <a href="https://ssivixlab.com"
            ><img
              src="https://ssivixlab.com/wp-content/uploads/2020/06/singapore-consult-doctor-online.png"
              alt=""
              width="110"
            /> </a
          ><span class="brand-text"
            ><a [routerLink]="['/']">Doctor Referral</a></span
          >
        </h2>

        <mat-form-field style="font-size: 12px">
          <mat-label>Search For Submitted Referral</mat-label>

          <input
            type="text"
            matInput
            placeholder="DRI-*****"
            [formControl]="searchFc"
          />
          <mat-icon matSuffix (click)="search(searchFc.value)">search</mat-icon>
          <mat-error>{{ getError("searchFc") }}</mat-error>
        </mat-form-field>
      </div>
    </nav>
  </mat-toolbar>
  <div class="contentOverlayer h-100">
    <div class="container pt-2">
      <div class="row align-items-center">
        <div
          class="col-lg-8 col-md-10 pt-2 align-self-start mb-5 mt-5"
          style="z-index: 2"
        >
          <router-outlet></router-outlet>
        </div>
        <div class="col-lg-4 col-md-2 ml-auto d-none d-sm-block">
          <div class="mx-auto">
            <div class="screen">
              <!--<img class="img-fluid"
                 src="./assets/doctor-referral.jpg"
                 alt="" /> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-blue py-2 mt-auto">
    <div class="container">
      <small>Copyright &copy; 2020 Ssivix Lab, All rights reserved.</small>
    </div>
  </div>
</div>
