<div class="mb-2 d-flex"
     mat-dialog-title>
  <span class="flex-grow-1"
        *ngIf="data === 'from'">Select Your Name</span>
  <span class="flex-grow-1"
        *ngIf="data === 'to'">Select Referral Doctor Name</span>
  <mat-icon (click)="close()"
            class="cursorPointer">close</mat-icon>
</div>
<form [formGroup]="searchDoctorFb"
      autocomplete="off"
      novalidate>
  <div class="row">
    <div class="col-9">
      <mat-form-field appearance="outline"
                      class="w-100">
        <mat-label>Search</mat-label>
        <input matInput
               type="text"
               formControlName="searchText" />
      </mat-form-field>
    </div>
    <div class="col-3 pl-0 mt-3">
      <button mat-stroked-button
              color="accent"
              [disabled]="!searchDoctorFb.valid"
              (click)="search(searchDoctorFb.value)">
        Search
      </button>
    </div>
  </div>
</form>

<mat-dialog-content>
  <mat-nav-list *ngIf="seachResult.length > 0; else noResult">
    <a *ngFor="let item of seachResult"
       mat-list-item
       (click)="doctorSelected(data, item)">
      <p mat-line><span class="text-muted">Dr: </span>{{ item.name }}</p>
      <p mat-line>
        <span class="text-muted">Clinic Name: </span>{{ item.nameOfClinic }}
      </p>
      <mat-divider></mat-divider>
    </a>
  </mat-nav-list>
</mat-dialog-content>

<ng-template #noResult>
  <p *ngIf="isSubmitted">No Doctor found.</p>
</ng-template>