/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  background: url("./assets/doctor-referral.jpg") no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.contentOverlayer {
  background: rgba(0, 0, 0, 0.4) !important;
}
.contentOverlayer .mat-expansion-panel {
  background: rgba(0, 0, 0, 0.3) !important;
  color: #fff !important;
}
.contentOverlayer
  .mat-form-field-appearance-outline.mat-form-field-disabled
  .mat-form-field-label,
.contentOverlayer .mat-expansion-panel-header-description,
.contentOverlayer .mat-expansion-indicator::after,
.contentOverlayer .mat-expansion-panel-header-title,
.contentOverlayer .mat-form-field-label,
.contentOverlayer .mat-form-field.mat-focused .mat-form-field-label {
  color: #fff;
}
.contentOverlayer .mat-input-element {
  caret-color: #fff;
}
.contentOverlayer
  .mat-form-field-appearance-outline
  .mat-form-field-outline-gap,
.contentOverlayer
  .mat-form-field-appearance-outline
  .mat-form-field-outline-start,
.contentOverlayer
  .mat-form-field-appearance-outline
  .mat-form-field-outline-end {
  border-color: #ffffff60;
}
.contentOverlayer .mat-action-row {
  border-top-color: transparent;
}
.contentOverlayer .mat-button.mat-primary,
.contentOverlayer .mat-icon-button.mat-primary,
.contentOverlayer .mat-stroked-button.mat-primary {
  color: #fff;
  border: 1px solid #fff;
}
.contentOverlayer .mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: 0px 3px 1px -2px rgba(255, 255, 255, 0.2),
    0px 2px 2px 0px rgba(255, 255, 255, 0.14),
    0px 1px 5px 0px rgba(255, 255, 255, 0.12);
}
.cursorPointer {
  cursor: pointer;
}
.contentOverlayer .mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  width: 0;
}
.contentOverlayer .mat-button.mat-warn,
.contentOverlayer .mat-icon-button.mat-warn,
.contentOverlayer .mat-stroked-button.mat-warn {
  border: 1px solid #f44336;
}
.contentOverlayer .mat-action-row {
  padding-right: 0;
}
.contentOverlayer .custom-file-label {
  background: none;
  color: #fff;
}
.mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled
  .mat-form-field-infix::after {
  color: #fff !important;
}
.mat-expansion-panel-header.mat-expanded {
  background: inherit;
}
.msgBg {
  background: rgb(255 255 255 / 0.7);
}

@import "~@angular/material/theming";
@include mat-core();

$custom-theme-primary: mat-palette($mat-grey, 900);
$custom-theme-accent: mat-palette($mat-pink, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme(
  $custom-theme-primary,
  $custom-theme-accent,
  $custom-theme-warn
);
@include angular-material-theme($custom-theme);
@media (hover: none) {
  .contentOverlayer
    .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
    .mat-expansion-panel-header:hover {
    background: inherit;
  }
}
