<div
  *ngIf="message"
  class="row msgBg p-2 mb-2 rounded"
  [ngClass]="message.clsNme"
>
  {{ message.msg }}
</div>
<mat-accordion>
  <!--- Doctor Details  -->
  <form
    class="row"
    [formGroup]="refferalPatientFg"
    autocomplete="off"
    novalidate
  >
    <mat-expansion-panel
      [expanded]="step === 0"
      (opened)="setStep(0)"
      hideToggle
      class="w-100"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>chevron_right</mat-icon> Doctor Detail
        </mat-panel-title>
        <mat-panel-description class="justify-content-between">
          Search Your Name
          <mat-icon>people</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="row mt-2">
        <div class="col-sm-6">
          <div class="input-group flex-nowrap">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Referred By Doctor</mat-label>
              <input matInput type="text" formControlName="referredBy" />
            </mat-form-field>
            <span class="input-group-append" (click)="searchDoc('from')">
              <mat-icon class="mt-3 ml-2 cursorPointer" matSuffix
                >search</mat-icon
              >
            </span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-group flex-nowrap">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Referred to Specialist</mat-label>
              <input matInput type="text" formControlName="referredTo" />
            </mat-form-field>
            <span class="input-group-append" (click)="searchDoc('to')">
              <mat-icon class="mt-3 ml-2 cursorPointer" matSuffix
                >search</mat-icon
              >
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">
              Next
            </button>
          </mat-action-row>
        </div>
      </div>
    </mat-expansion-panel>

    <!--- Patient Details  -->

    <mat-expansion-panel
      [expanded]="step === 1"
      (opened)="setStep(1)"
      hideToggle
      class="w-100"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>chevron_right</mat-icon> Patient Details
        </mat-panel-title>
        <mat-panel-description class="justify-content-between">
          Enter Patient details
          <mat-icon>person</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="row mt-2">
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="patientName" />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>NRIC/FIN/Passport No</mat-label>
            <input matInput type="text" formControlName="referralId" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Patient Email-Id</mat-label>
            <input matInput type="email" formControlName="patientEmail" />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Patient Mobile</mat-label>
            <input matInput type="tel" formControlName="patientMobileNum" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">
              Previous
            </button>
            <button mat-button color="primary" (click)="nextStep()">
              Next
            </button>
          </mat-action-row>
        </div>
      </div>
    </mat-expansion-panel>

    <!-- Preview and Send -->

    <mat-expansion-panel
      [expanded]="step === 2"
      (opened)="setStep(2)"
      hideToggle
      class="w-100"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>chevron_right</mat-icon> Upload
        </mat-panel-title>
        <mat-panel-description class="justify-content-between">
          Attachment for Referral
          <mat-icon>attach_file</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="row mt-2">
        <div class="col-sm-12">
          <div class="custom-file">
            <input
              type="file"
              multiple
              class="custom-file-input cursorPointer"
              (change)="openFile($event.target.files)"
            />
            <label class="custom-file-label" for="validatedCustomFile"
              >Choose file</label
            >
          </div>
        </div>
      </div>

      <p *ngFor="let item of inputFileUpload">
        {{ item.name }} <mat-icon (click)="removeFile(item)">cancel</mat-icon>
      </p>
      <div class="row">
        <div class="col-sm-12">
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">
              Previous
            </button>
            <button
              mat-button
              color="primary"
              (click)="submitRefferal(refferalPatientFg.getRawValue())"
            >
              Submit
            </button>
          </mat-action-row>
        </div>
      </div>
    </mat-expansion-panel>
  </form>
</mat-accordion>
